h1 {
    color: green;
}

.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
}

.btn-success.btn-circle.btn-sm {
    margin-top: 44vh;
    margin-left: 5vw;
    width: 4vw;
    height: 4vw;
    padding: 6px 0px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 6px 0px #141414, 0px 6px 20px #000000;
    box-shadow: 0px 6px 0px #202020, 0px 6px 20px #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: #82b74b;
}

.btn-danger.btn-circle.btn-sm {
    margin-top: 53vh;
    margin-left: -22.5vw;
    width: 4vw;
    height: 4vw;
    padding: 6px 0px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    text-align: center;
    background-color: #80ced6;
    -webkit-box-shadow: 0px 6px 0px #2b2b2b, 0px 6px 20px #000000;
    box-shadow: 0px 6px 0px #2b2b2b, 0px 6px 20px #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.btn-danger.btn-circle.btn-sm:active {
    -webkit-box-shadow: 0px 2px 0px #878787, 0px 2px 8px #000000;
    box-shadow: 0px 4px 0px #878787, 0px 2px 8px #000000;
    top: 10px;
    transform: translateY(-20px);
}

.btn-success.btn-circle.btn-sm:active {
    -webkit-box-shadow: 0px 2px 0px #242424, 0px 2px 8px #000000;
    box-shadow: 0px 2px 0px #242424, 0px 2px 8px #000000;
    top: 10px;
    transform: translateY(-20px);
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 32px;
    text-align: center;
}



h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5vh;
}

#card text-white {
    width: 70px;
    border-radius: 50%;
}

br {
    width: 100%;
}

.h1 {
    margin-left: 13%;
    padding-top: 2%;
    color: #fff;
    font: em sans-serif;
}

.h2 {
    margin-left: 31%;
    padding: 0px;
    margin-top: -5rem;
    color: #fff;
    font: em sans-serif;
    font-size: 30px;
}

.h3 {
    margin-left: 60%;
    padding: 0px;
    margin-top: -4rem;
    color: #fff;
    font: em sans-serif;
    font-size: 30px;
}

.h4 {
    margin-left: 80%;
    padding: 0px;
    margin-top: -4rem;
    color: #fff;
    font: em sans-serif;
    font-size: 30px;
}

.badge {
    margin-left: 0%;
    margin-top: 2%;
    width: 2%;
}

.col-sm-3 {
    width: 4vw;
    height: 4vw;
    color: white;
    left: 5%;
    margin-top: 0;
    margin-left: 0.5vw;
    font-size: 120%;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20%;
    background-color:rgb(62, 190, 62);
    padding: 15px 5px 15px 5px;
}

.col-sm-2 {
    width: 4vw;
    height: 4vw;
    color: white;
    left: 7%;
    margin-top: 0;
    margin-left: 0.5vw;
    font-size: 120%;
    text-align: center;
    border: 1px solid;
    font-weight: bold;
    border-radius: 20%;
    background-color:rgb(243, 200, 82);
    padding: 15px 5px 15px 5px;
}

.col-sm-1 {
    width: 4vw;
    height: 4vw;
    color: white;
    left: 10%;
    margin-top: 0;
    margin-left: 2vw;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    background-color:rgb(74, 255, 225);
    padding: 15px 5px 15px 5px;
}

.col-sm-4 {
    width: 4vw;
    height: 4vw;
    color: white;
    line-height: 20px;
    left: 16%;
    margin-top: 0;
    margin-left: 0.5vw;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-radius: 10%;
    background-color:rgb(255, 125, 74);
    padding: 15px 5px 15px 5px;
}




.card-header {
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
}

.card-body {
    padding: 0px 15px 0px 10px;
    font-size: 16px;
}


.bg-primary {
    margin-top: -80vh;
    margin-left: 40px;
    height: 37vh;
    background-color: #006caa;
    border-radius: 10px;
    font-size: 2vh;
    color: white;
    font-weight: bold;
}


.bg-danger {
    margin-top: -80vh;
    margin-right: 20px;
    height: 37vh;
    text-align: center;
    line-height: 4vh;
    color: #000;
    background-color: #ff7b25;
    border-radius: 10px;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.bg-warning {
    margin-top: 13.7vh;
    margin-left: -160%;
    height: 5vh;
    width: 28vh;
    text-align: center;
    line-height: 4vh;
    color: #000;
    background-color: #00b3b9;
    border-radius: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.bg-info {
    margin-top: 13.7vh;
    margin-left: -160%;
    height: 5vh;
    width: 28vh;
    text-align: center;
    line-height: 4vh;
    color: #000;
    background-color: #7125ff;
    border-radius: 10px;
    font-size: 14px;
    color: rgb(255, 19, 19);
    font-weight: bold;
}


.btn-primary.btn-sm {
    margin-top: 45vh;
    margin-left: -40vw;
    width: 15vw;
    height: 3vw;
    padding: 6px 0px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #7e5bff;
}

.btn-ro.btn-sm {
    margin-top: -18vh;
    margin-left: -20vw;
    width: 3vw;
    height: 3vw;
    padding: 6px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}


.btn-light.btn-sm {
    margin-left: -40vw;
    width: 15vw;
    height: 3vw;
    padding: 6px 0px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #00bdad;
}

.btn-secondary.btn-sm {
    margin-top: -25vh;
    margin-left: 57vw;
    width: 3vw;
    height: 2vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}

.btn-secondary.btn-sm {
    margin-top: -25vh;
    margin-left: 57vw;
    width: 3vw;
    height: 2vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}

.btn-gac.btn-sm {
    margin-top: -25vh;
    margin-left: 34vw;
    width: 3.5vw;
    height: 2vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}

.btn-cto.btn-sm {
    margin-top: -25vh;
    margin-left: 11vw;
    width: 3.5vw;
    height: 2vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}


.btn-tho.btn-sm {
    margin-top: -34vh;
    margin-left: 71vw;
    width: 5.5vw;
    height: 2vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}


.btn-pump.btn-sm {
    margin-top: -35vh;
    margin-left: 20vw;
    width: 3.5vw;
    height: 3vw;
    padding: 1px 0px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}



