* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 2%;
}

input[type=password], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 2%;

}


label {
  padding: 12px 10px 0px 10px;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.login_form {
  margin-left: auto;
  position: fixed;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  top: 33%;
  width: 24vw;
  height: 31%;
  left: 38%;
}

.col-25 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.form-group:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.form-group {
  margin-bottom: 0;
}

label {
  padding: 0px 0px 2px 0px;
  border-bottom: 0;
}

.btn-success {
  margin-top: -3%;
}
