.user_info table {
    font-size: medium;
    font-weight: bold;
    z-index: 400;
    margin-left: 20px;
    margin-top: 40px;
}

.user_info table td{
    padding: 5px;
}


.form-horizontal .control-label {
    /* padding: 7px; */
    /* margin: 10px; */
    text-align: left;
}

.panel-success {
    border-color: #d6e9c6;
    width: 83vw;
    margin-left: 10px;
}